
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    background-image: url("/dylan-gillis-KdeqA3aTnBY-unsplash.jpg");
    background-size: cover;
    height: 100%;
    margin: 0;
}
#firsttext, #descr {
    text-align: center;
}
#firsttext {
    font-size: 30px;
    margin-bottom: 0;
}
#descr {
    margin-top: 2px;
    font-style: italic;
    font-size: 20px;
}
#text, #email, #number, #dropdown, #opt {
    border: 0;
    border-radius: 5px;
    height: 25px;
    padding-left: 10px;
}
#def, #may, #not, #frontend, #backend, #data, #Challenges, #ops {
    margin-bottom: 10px;
}
.form {
    background-color: rgb(36, 36, 66);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 75%;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 30px;
}
.container {
    background-color: rgba(81, 81, 141, 0.5);
    padding: 20px;
    margin: 0;
}
span {
    font-size: 14px;
}
.radiogroup {
    display: block;
    font-size: 15px;
}

.questions {
    font-size: 20px;
}
#text, #email, #number, #dropdown {
    margin-bottom: 20px;
}
textarea {
    font-size: 20px;
    margin-bottom: 20px;
}
#submit {
    background-color: rgb(63, 216, 63);
    border: 0;
    height: 30px;
    margin-bottom: 20px;
}
#submit:hover {
    background-color: rgb(40, 75, 40);
}